*{
   margin: 0; 
   padding: 0; 
   box-sizing: border-box; 
}

body {
   font-family: 'Rubik', sans-serif;
   font-size:  18px;
}

.container {
   width: 100%;
   height: 100vh;
}

/* -------------------------------------------------- */
/* Inizio Common */
.header {
   width: 100%;
   height: 70px;
   background-color: white;
}
/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Header */
.logo {
   padding: 20px;
}

/* Fine Header */
/* -------------------------------------------------- */
/* Inizio Main */

.search {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70px;
   padding: 5px;
   font-size: 110%;
   color: white;
   background-color: rgb(0, 174, 255);
}

#icone {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   width: 100%;
   height: calc(100% - 210px);
   background-color: #DDDDDD;
}

#icone > div {
   flex-basis: calc(100% / 5 - 20px);
   margin: 20px;
   min-width: 150px;
   padding: 20px;
   background-color: white;
   border: 1px solid grey;
   border-radius: 5px;
   text-align: center;
}

.fas {
   font-size: 30px;
}
/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */
footer {
   width: 100%;
   height: 70px;
}
/* Fine Footer */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */
